.App {
  text-align: center;
  overflow: hidden;

  main {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: calc(100vh - 80px)!important;
    overflow: hidden;
    margin: 0 auto;
  }
}
