//colors
$purple: #4F27BF;
$white: #FFFFFF;
$black: #000;
$dark-gray: #1C1C1E;
$gray: #6C6C6C;

//fonts weight
$font-bold: 700;
$font-medium: 600;
$font-normal: 500;

//fonts size
$font-big: 26px;
$font-normal: 20px;
